/* Common styles */
body {
    font-family: "Courier New", Courier, monospace; /* Monospaced font */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #282c34; /* Dark background */
    transition: color 0.5s, background-color 0.5s; /* Smooth transition for mode change */
}

header, nav, section, footer {
    transition: color 0.5s; /* Smooth transition for mode change */
}

/* Dark Mode */
body.dark {
    color: #fff; /* White font color */
    background: #1e1e1e; /* Darker background */
}

body.dark header, 
body.dark nav, 
body.dark section, 
body.dark footer {
    color: #61afef; /* Light blue text */
    background: #21252b; /* Dark background for sections */
}

/* Light Mode */
body.light {
    color: #000; /* Black font color */
    background: #f8f9fa; /* Light background */
}

body.light header, 
body.light nav, 
body.light section, 
body.light footer {
    color: #616161; /* Grey text */
    background: #e9ecef; /* Lighter background for sections */
}

/* Portrait */
#portrait {
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Mode Toggle Button */
#mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #61afef; /* Light blue background */
    color: #fff; /* White font color */
    cursor: pointer;
}

/* Typing Animation */
#typing-gif {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    animation: typing 5s infinite alternate;
}

@keyframes typing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
