body {
    font-family: "Courier New", Courier, monospace; /* Monospaced font */
    color: black; /* Set primary font color to black */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #fff; /* White background */
}

header, nav {
    background: #61afef; /* Light blue background for header and navigation */
    color: #000; /* Black font color */
}

header {
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #fff; /* White border */
}

nav {
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #000; /* Black font color for navigation links */
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff; /* White background for sections */
    border: 1px solid #fff; /* White border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.8em;
    border-bottom: 2px solid #444c56; /* Darker border for section headings */
    padding-bottom: 10px;
}

section p, section ul {
    font-size: 1.1em;
    text-align: justify;
}

section ul {
    list-style-type: square;
    padding-left: 20px;
}

section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #fff; /* White border */
    margin: 10px 0;
}

footer {
    padding-top: 50px; /* Adjust as needed to create enough space for the footnote */
    background-color: #f8f9fa; /* Light background color for the footer */
    text-align: center;
}

.about-container {
    display: flex;
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section {
    flex: 1;
}

.portrait {
    width: 350px; /* Adjust the width as needed */
    height: 350px; /* Adjust the height to match the width */
    object-fit: cover; /* Ensures the image covers the entire container */
}

.description {
    margin-top: 20px;
    color: black; /* Change to black color */
}

.description p {
    margin-bottom: 20px;
}

.description a {
    color: #61afef; /* Light blue links */
}

.my-world-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image {
    flex: 0 0 48%;
}

.image img {
    width: 100%;
    border-radius: 8px;
}

.image p {
    margin-top: 5px;
    text-align: center;
}
